/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: black;
  text-decoration: none;
}

h2 {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 1.2;
}

h3 {
  font-family: "Roboto";
  font-weight: lighter;
  font-size: 1rem;
  line-height: 1.4;
  margin-top: 1rem;
}

.center {
  text-align: center;
}

header {
  height: 85px;
  padding: 0 1.925rem;
}

header .content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile {
  display: none;
}

.logo {
  font-family: "Roboto Mono";
  font-size: 1.5rem;
  color: #4A4A4A;
}

nav.desktop ul {
  display: flex; 
}

nav.desktop ul li {
  font-family: "Roboto";
  color: #4A4A4A;
  line-height: 1.6;
  margin-right: 2.5rem;
}

nav.desktop ul li:last-child {
  margin-right: 0;
}

nav.desktop .icon {
  vertical-align: top;
  height: 1.25rem; 
}


/* Sign Up Section */
#sign-up-section {
  padding: 170px 0;
  padding-left: 100px;
}

.banner {
  background-image: url('./../images/banner-landingpage.jpg');
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center; 
}

#sign-up-cta {
  width: 35.5rem;
  background-color: #9DC20A;
  border: 1px solid #979797;
  border-radius: 0.25rem;
}

.header, .email {
  margin: 0 5rem;
}

.header .cursive {
  margin-top: 2rem;
  color: white;
  font-family: "Damion";
  font-style: italic;
  font-size: 2.5rem;
}

.header .striking {
  color: white;
  font-size: 3rem;
  font-family: "Rubik";
  line-height: 1.4;
  margin-bottom: 0.75rem;
}

.email span {
  color: white;
  font-size: 1.25rem;
  font-family: "Roboto";
  line-height: 1.4;
}
.email span strong{
  font-weight: bold;
}

.email .button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25.5rem;
  height: 4rem;
  background-color: #4A4A4A;
  border-radius: 4px;
  color: white;
  font-size: 1.25rem;
  text-align: center;
  vertical-align: center;
  font-family: 'Roboto';
  font-weight: 500;
  margin-top: 1.675rem;
  margin-bottom: 3.5rem;
}

/* Features Section */
#features-section {
  background-color: #9B9B9B;
  padding: 4rem 4rem 2.925rem 4rem;
  display: flex;
  justify-content: space-around;
  gap: 2.25rem;
  color: #4A4A4A;
  text-align: left;
}

.feature {
  max-height: 40rem;
  background-color: white;
}

.feature .image-container {
  margin: 2rem 2rem 2.5rem 2rem;
  max-width: 90%;
  max-height: 65%;
  overflow: hidden;
}

.feature .content {
  margin: 0  2rem;
  margin-bottom: 3.5rem;
}
.image-container img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Filters Section */
#filters-section{
  padding: 4rem 1%;
  background-color: #4A4A4A;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  opacity: 100%;
}

#filters-section .content {
  max-width: 50%;
}

.images-container {
  display: flex;
  margin-top: 5rem;
}

.images-container .image-container {
  width: 25%;
  height: auto;
  overflow: hidden;
}

/* Quote Section */ 
#quotes-section .content {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1.925rem;
  padding: 5rem 0;
}

.quote {
  color: #4A4A4A;
  font-size: 1.925rem;
  font-family: "Palatino";
  font-style: italic;
  line-height: 1.1;
}

footer {
  height: 62px;
  background-color: #9B9B9B;
  padding: 0 32px;
}

footer .content {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .content span {
  font-size: 0.75rem;
  font-family: "Roboto";
  color: white;
}

@media only screen and (max-width: 1024px) {    
  .email {
    display: none;
  }

  #sign-up-section {
    padding: 170px 0;
    display: flex;
    justify-content: center
  }

  #sign-up-cta {
    background-color: transparent;
    border: transparent;
  }

  #filters-section {
    padding: 4rem 1% 0 1%;
  }

  #filters-section .content {
    max-width: 100%;
  }

  .feature {
    max-height: 40rem;
  }

  .feature .content {
    text-align: start;
  }

  .quote {
    width: 60%;
    text-align: start;
  }

  .quote-citation {
    width: 9rem;
    max-height: 3rem;
  }
}

@media only screen and (max-width: 480px) {
  header {
    height: 3rem;
  }
  
  .desktop {
    display: none;
  }

  .mobile {
    width: 100%;
    display: block;
  }

  .mobile ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mobile .button {
    color: white;
    font-family: 'Roboto';
    background-color: #9DC20A;
    border-radius: 0.25rem;
  }
  .mobile a {
    padding: 3px 8px;
  }

  #features-section {
    background-color: white;
    flex-direction: column;
    padding: 0 0;
    gap: 0;
  }

  .feature {
    height: 100%;
    padding-bottom: 30px;
  }

  #filters-section {
    padding: 4rem 0 0 0;
  }
  
  .images-container .image-container {
    width: 33.33%;
  }

  .extra {
    display: none;
  }

  #quotes-section .content {
    flex-direction: column;
    align-items: center;
  }


  .quote {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.4;
  }
  
  footer .content span {
    font-size: 0.675rem;
  }
}
