/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: black;
  text-decoration: none;
}

header {
  height: 85px;
  padding: 0 30px;
}

header .content {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content .mobile {
  display: none;
}

.logo {
  font-family: "Roboto Mono";
  font-size: 1.5rem;
  color: #4A4A4A;
}

nav.desktop ul {
  display: flex; 
}

nav.desktop ul li {
  font-family: "Roboto";
  color: #4A4A4A;
  line-height: 1.6;
  margin-right: 40px;
}

nav.desktop ul li:last-child {
  margin-right: 0;
}

nav.desktop .icon {
  vertical-align: top;
  height: 20px; 
}

#sign-up-section {
  padding: 170px 0;
  padding-left: 100px;
  display: flex;
  justify-content: flex-start
}

#sign-up-cta {
  width: 588px;
  background-color: #9DC20A;
  border: 1px solid #979797;
  border-radius: 4px;
}

.header, .email {
  margin: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header .cursive {
  margin-top: 32px;
  color: white;
  font-family: "Damion";
  font-style: italic;
  font-size: 2.5rem;
}

.header .striking {
  color: white;
  font-size: 50px;
  font-family: "Rubik";
  line-height: 1.4;
  margin-bottom: 12px;
}

.email span {
  color: white;
  font-size: 1.25rem;
  font-family: "Roboto";
  line-height: 1.4;
}
.email span strong{
  font-weight: bold;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 408px;
  height: 64px;
  background-color: #4A4A4A;
  border-radius: 4px;
  color: white;
  font-size: 20px;
  text-align: center;
  vertical-align: center;
  font-family: 'Roboto';
  font-weight: 500;
  margin-top: 26px;
  margin-bottom: 56px;
}

.banner {
  background-image: url('./../images/banner-landingpage.jpg');
  background-size: cover; /* Couvre toute la zone, mais peut être coupée */
  background-repeat: no-repeat; /* Empêche la répétition de l'image */
  background-position: center; /* Centre l'image dans la zone */
}


#features-section {
  padding: 0 86px;
  display: flex;
  gap: 38px;
  background-color: #9B9B9B;
}

.feature {
  margin-top: 64px;
  margin-bottom: 46px;
  height: 635px;
  width: auto;
  background-color: white;
}

#features-section .image-container {
  margin: 0 32px;
  margin-top: 32px;
  margin-bottom: 40px;
  width: 90%;
  height: 65%;
}

#features-section .image-container img {
  width: 100%;
  height: 100%;
}

#features-section .feature .content {
  margin: 0 32px;
  padding: 0 16px;
  height: 185px;
}

#features-section .content h2 {
  color: #4A4A4A;
  opacity: 100%;
  font-family: "Roboto";
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 1.2;
}

#features-section .content h3 {
  color: #4A4A4A;
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: lighter;
  line-height: 1.2;
}

#filters-section{
  padding: 64px 1%;
  background-color: #4A4A4A;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#filters-section .content h2 {
  color: white;
  opacity: 100%;
  font-family: "Roboto";
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 20px;
  width: 90%;
}

#filters-section .content h3 {
  color: white;
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: lighter;
  line-height: 1.4;
  width: 90%;
}

#filters-section .images-container {
  display: flex;
  margin-top: 80px;
}

#filters-section .images-container .image-container {
  width: 25%;
  height: auto;
  overflow: hidden;
}

#filters-section .images-container .image-container img {
  max-width: 100%;
  height: auto;
  display: block;
}

#quotes-section {
  padding: 80px 0;
}

.center {
  text-align: center;
}

.quote {
  color: #4A4A4A;
  font-size: 1.925rem;
  font-style: italic;
}

footer {
  height: 62px;
  background-color: #9B9B9B;
  padding: 0 32px;
}

footer .content {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .content span {
  font-size: 0.75rem;
  font-family: "Roboto";
  color: white;
}

